<!-- Consent Mode defaults before GTM (production + dev localhost) -->
<script>
	window.dataLayer = window.dataLayer || [];
	(function() {
		var consent = null;
		try { consent = localStorage.getItem('analytics_consent'); } catch (e) {}
		// Default: deny analytics/ad/personalization until opt-in
		dataLayer.push({
			consent: 'default',
			ad_storage: 'denied',
			analytics_storage: 'denied',
			functionality_storage: 'granted',
			personalization_storage: 'denied',
			security_storage: 'granted'
		});
		if (consent === 'granted') {
			dataLayer.push({
				consent: 'update',
				ad_storage: 'granted',
				analytics_storage: 'granted',
				functionality_storage: 'granted',
				personalization_storage: 'granted',
				security_storage: 'granted'
			});
		}
	})();
</script>
<!-- Google Tag Manager: choose prod or dev (localhost) -->
<script>
  (function() {
	var prodId = '{{ .Site.Params.googleTagManager }}';
	var devId = '{{ .Site.Params.googleTagManagerDev }}';
	var host = (typeof location !== 'undefined' && location.hostname) || '';
	var isLocal = (host === 'localhost' || host === '127.0.0.1');
	var gtmId = isLocal ? devId : prodId;
	if (!gtmId) { return; }
	(function(w,d,s,l,i){
		w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
		var f=d.getElementsByTagName(s)[0], j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
		j.async=true; j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl; f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer', gtmId);
  })();
</script>
